@font-face {
    font-family: Font-OneBrush;
    src: url(../font/OneBrush.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    width: 100%;
    font-family: "Roboto", sans-serif;
    
    background-image: url(../img/bg/pexels-la-miko-3616764.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}

.hide{
    display: none;
}

#home{
    height: 100vh;
    position: relative;
}

#hero-image{
    position: absolute;
    transform: rotate(90deg);
    -webkit-filter: brightness(1.2) grayscale(1) contrast(1.4) saturate(3);
    filter: brightness(1.2) grayscale(1) contrast(1.4) saturate(3);

    width: 950px;
    left: -220px;
    top: -400px;

    transition: opacity 0.8s ease;
}

.container{
    position: relative;
    margin-right: 0px;
    margin-left: auto;
    /* font-family: "Rubik Mono One", monospace; */
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 60%;
    text-align: left;
    height: 100%;
    overflow: hidden;
}

.links-container{
    position: relative;
    width: 90%;
    margin-left: auto;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: end;
    align-items: flex-end;
    transition: all 0.4s ease;
    padding: 25px 0px;
    padding-right: 20px;
}


.links-container a{
    position: relative;
    cursor: pointer;
    
    color: #00000024;
    transition: all 0.4s cubic-bezier(.17,-0.11,.89,1.25);
    letter-spacing: -3px;
    writing-mode:tb-rl;/*IE*/
    writing-mode:vertical-lr;/* OPera/webkit*/
    writing-mode:sideways-lr;/* should be the one */  
    -webkit-writing-mode: vertical-lr;
    
    margin: 0px calc(1vh - 30px);
    font-size: calc(3vh + 7vmin);
}


.links-container a:nth-child(1){
    margin-bottom: 17vh;
}

.links-container a:nth-child(3){
    margin-bottom: 3vh;
}

.links-container a:hover{
    margin-left: calc(1vh - 45px);
    margin-right: calc(1vh - 45px);
}

.links-container a:nth-child(1):hover{
    margin-bottom: 17vh;
    /* margin-right: 5px; */
    font-size: calc(4vh + 12vmin);
}

.links-container a:nth-child(2):hover{
    font-size: calc(4vh + 15vmin);
    margin-left: -5px;
}

.links-container a:nth-child(3):hover{
    margin-bottom: 3vh;
    margin-left: -5px;
    font-size: calc(4vh + 14vmin);
}

.onClick_about-btn{
    color: #000 !important;
    font-size: calc(4vh + 12vmin) !important;
}

.onClick_work-btn{
    color: #000 !important;
    font-size: calc(4vh + 15vmin) !important;
}

.onClick_contact-btn{
    color: #000 !important;
    font-size: calc(4vh + 14vmin) !important;
}

@media screen and (max-height:900px) {
    .links-container a{ 
        margin: 0px calc(1vh - 30px);
    }
}

@media screen and (max-height:620px) {
    .links-container a{ 
        margin: 0px calc(1vh - 20px);
    }
}

@media screen and (max-height:500px) {
    .links-container a{ 
        margin: 0px calc(1vh - 13px);
    }
}


@media screen and (max-width:1500px) {
    :root{
        font-size: 14px;
    }
    
    #hero-image{
        width: 730px;
        left: -180px;
        top: -320px;
    }
}

@media screen and (max-width:1200px) {
    :root{
        font-size: 13px;
    }

    #hero-image{
        width: 650px;
        left: -160px;
        top: -270px;
    }
}

@media screen and (max-width:1000px) {
    :root{
        font-size: 13px;
    }

    #hero-image{
        width: 630px;
        left: -160px;
        top: -270px;
    }

    .container{
        max-width: 70%;
    }
}

@media screen and (max-width:800px) {
    :root{
        font-size: 13px;
    }

    #hero-image{
        width: 500px;
        left: -120px;
        top: -220px;
    }

    .container{
        max-width: 95%;
    }
}

@media screen and (max-width:600px) {
    :root{
        font-size: 11px;
    }

    #hero-image{
        width: 400px;
        left: -100px;
        top: -170px;
    }

    .container{
        max-width: 100%;
    }
}

/* MODAL ABOUT */
.modal-dialog {
    /* margin-left: 4vw; */
}

.modal-dialog .btn-close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    z-index: 100;
}

#aboutModal .modal-body{
    padding: 3rem 5rem;
    letter-spacing: 1.2px;
}

.modal-body .info_body{
    margin-top: 20px;
    font-size: 1.2rem;
}

.skills{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 50px 0;
}

.skills-title{
    /* color: #000080; */
    font-weight: 700;
    font-size: 1.4rem;
}

.skills svg{
    width: 100px;
    padding: 10px;
    transition: all 200ms ease;

    -webkit-filter: brightness(.8) grayscale(1) contrast(1.4) saturate(3);
    filter: brightness(.8) grayscale(1) contrast(1.4) saturate(3) opacity(60%);
}

.skills svg:hover{
    -webkit-filter: brightness(1) grayscale(0) contrast(1) saturate(1);
    filter: brightness(1) grayscale(0) contrast(1) saturate(1);
    transform: scale(1.05);
}

/* MODAL WORK */
#work .modal-body{
    padding: 0;
}

    #work .carousel-item{
        border-radius: 2px;
        transition: transform 1500ms ease, opacity .5s ease-out;
        color: #ffffffac;
    }

    #work .carousel-item .info h2{
        font-family: "Archivo Black", sans-serif;
        font-size: 2.3rem;
        font-weight: 400;
        margin-bottom: 15px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    #work .carousel-item .info p{
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: 1.2px;
    }

    #work .carousel-item .info a{
        /* color: #00000044; */
        font-weight: 400;
        font-family: "Archivo Black", sans-serif;
        transition: all 0.5s ease;
    }
        #work .carousel-item .info a:hover{
            /* color: #000000b5; */
        }


#work .carousel-item .item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 120px;
}

#work .carousel-item .image-container{
    flex: 3;
}

#work .carousel-item .image-container .image{
    max-width: 400px;
    margin: 0 auto;
}

#work .carousel-item .info{
    flex: 3;
    padding: 0 30px;
    margin: 30px 0;
    height: 600px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

#work .carousel-item img{
    width: 50px;
}


#work{
    position: relative;
    height: 100vh;
    width: 0px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #000000;

    transition: all 0.7s ease;
}

#work .arrow{
    width: 50px;
    transform: rotate(-180deg);
    filter: invert();
    cursor: pointer;
}

@media screen and (max-height:620px) {
    :root{
        font-size: 12.5px;
    }
    #work .carousel-item .item-container{
        gap: 20px;
        padding: 20px 90px;
    }

    #work .carousel-item .info{
        flex: 3;
        padding: 0 15px;
        margin: 20px 0;
        height: 450px;
    }
    .skills{
        margin: 30px 0;
    }
    .skills svg{
        width: 85px;
        padding: 7px;
    }
}

@media screen and (max-height:600px) and (min-width:1200px){
    #hero-image{
        width: 690px;
    }
}


#contacto{
    height: 50vh;
    padding: 50px;
    background: url('../img/bg/fondo2.png');
    background-position: initial;
    background-repeat:  no-repeat;
    background-position: cover;
    color: rgb(222, 222, 222);
}

#contacto .container{
    transition: opacity 0.7s ease;
}

.opacity0{
    opacity: 0;
}

#about{
    height: 70vh;
    opacity: 1;
    transition: height 500ms ease-in;
}

#about.close{
    height: 0px;
    opacity: 0;
}

#about .about-text{
    padding: 50px;
}

body{
    background-color: rgb(255, 255, 255);
}


#page.show #work{
    width: 100vw;
    flex: 4;
}

#work .carousel-inner{
    opacity: 0;
    transition: all 0.5s ease;
}

#page.show #work .carousel-inner{
    opacity: 1;
}

#page.show #about-btn, #page.show #contact-btn{
    display: none;
}

#page.show .container{
    max-width: 100%
}

#page.show #hero-image{
    opacity: 0;
}

#work .work-container{
    max-width: 500px;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#home{
    width: 100vw;
    flex: 1;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;

    position: absolute;
    left: 8px;
    top: 0px; 
}

.icon{
    position: relative;
    width: 30px;
    height: 30px;
    /* background-color: #333; */
    cursor: pointer;
    z-index: 1000;
    transition: all 0.4s ease;
}

.icon:hover{
    width: 50px;
    height: 50px;
}

.icon::before, 
.icon::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.4s ease;
}

.icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.icon::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.icon:hover::before {
    transform: translate(-55%, -100%) rotate(45deg);
}

.icon:hover::after {
    transform: translate(-50%, 100%) rotate(-45deg);
}